# Puerto del servidor Express
PORT=3000

# Entorno de ejecución (development | production)
NODE_ENV=development

# Cadena de conexión a PostgreSQL para Prisma ORM
# Formato: postgresql://USUARIO:PASSWORD@HOST:PUERTO/NOMBRE_BD?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/instrumentos_db?schema=public"